<form novalidate class="w-100 d-flex justify-content-around align-items-start p-5 bg-light flex-column" name="editTable">
    <div class="w-100  d-flex justify-content-around align-items-start flex-column">
        <label class="text-dark w-50">Assigned Status</label>
        <input class="w-100 text-dark p-2 border border-secondary outline-none bg-light h-40p" type="checkbox" name="assignedStatus" ng-required="true" ng-model="selectedTable.assignedStatus">
    </div>
    <div>
        <button type="button" class="btn btn-primary">Update</button>
    </div>
</form>