<section>
    <!-- outlet details  -->
    <div class="w-100 d-flex justify-content-around align-items-sm-center flex-column">
        <div class="w-100 d-flex justify-content-around align-items-start flex-column m-5">
            <span class="ml-3 mb-3">Name : {{outletData.name}}</span>
            <span class="ml-3 mb-3">Email : {{outletData.email}}</span>
            <span class="ml-3 mb-3">Brand : {{outletData.brand.name}}</span>

            <form class="m-3" name="outletEdit" novalidate>
                <div ng-show="isEditClicked" class="m-3">
                    <label>Current Password</label>
                    <input class="outline-none bg-theme-light border-0 w-100 h-50p p-2 rounded" type="password" name="currentPassword" ng-required="true" ng-model="outletData.currentPassword" ng-required="true">
                </div>
                <div ng-show="isEditClicked" class="m-3">
                    <label>New Password</label>
                    <input class="outline-none bg-theme-light border-0 w-100 h-50p p-2 rounded" type="password" name="newPassword" ng-required="true" ng-model="outletData.newPassword" ng-required="true">
                </div>
                <!-- edit Profile -->
                <div class="mb-3">
                    <button ng-hide="isEditClicked" class="btn btn-light text-dark mb-3" ng-click="allowEdit()">
                        Edit Password
                    </button>
                    <button ng-show="isEditClicked" class="btn btn-light text-dark mb-3" ng-click="disableEdit()">
                        Cancel
                    </button>
                    <button ng-disabled="{{outletEdit.currentPassword.$invalid || outletEdit.newPassword.$invalid}}" ng-show="isEditClicked" class="btn btn-light text-dark mb-3 {{(outletEdit.currentPassword.$invalid || outletEdit.newPassword.$invalid)?'btn-disabled':''}}" ng-click="updatePassword(outletData.currentPassword,outletData.newPassword)">
                        Update Password
                    </button>
                </div>
            </form>

            <!-- add table  -->
            <div class="w-100 d-flex justify-content-end">
                <button ng-hide="isEditClicked" class="d-flex justify-content-center btn btn-light text-dark m-3" ng-click="openAddTableModal()">
                    Add Table
                </button>
            </div>
        </div>
        <!-- tables  -->
        <table ng-table="tablesData" class="table table-striped">

            <tr ng-show="tablesData.length" ng-repeat="table in tablesData">

                <td class="text-center" data-title="'TableId'">{{table.tableId}}</td>

                <td class="text-center" data-title="'Status'">{{table.isAssigned?'Assigned':'Vacant'}}</td>

                <td class="text-center" data-title="'Assigned To'">{{table.assignedTo?table.assignedTo:'-'}}</td>

                <td class="text-center" data-title="'Actions'">
                    <button class="btn btn-primary" ng-click="openEditModal()">Remove</button>
                </td>

            </tr>

            <tr ng-hide="tablesData.length">
                <td>No Table added yet</td>
            </tr>
        </table>
        <!-- <input type="text" placeholder="{{dataName}}" ng-model="outletData.dataName"> -->
    </div>

</section>