<div class="login-wrapper">
    <div class="d-flex w-50 justify-content-evenly flex-column align-items-center h-500p">
        <div class="w-100 h-25 d-flex justify-content-center align-items-center">
            <a class="w-25 d-flex justify-content-center fw-bold {{ getActiveCssClass('login') }}" ng-click="setActivePath('login')">Login</a>
            <div class="text-secondary">or</div>
            <a class="w-40 d-flex justify-content-center fw-bold {{ getActiveCssClass('signup') }}" ng-click="setActivePath('signup')">Create Account</a>
        </div>
        <form ng-show="onActivePath('login')" class="w-75 d-flex justify-content-evenly align-items-center flex-column h-75" name="loginForm" novalidate>
            <div class="w-75 d-flex justify-content-evenly align-items-start flex-column">
                <label>Email Address*</label>
                <input class="outline-none bg-theme-light border-0 w-100 h-50p p-2 rounded" type="email" placeholder="Enter Email" name="email" ng-model="login.email" ng-required="true">
            </div>
            <div class="w-75 d-flex justify-content-evenly align-items-start flex-column">
                <label>Password</label>
                <input class="outline-none bg-theme-light border-0 w-100 h-50p p-2 rounded" type="password" placeholder="Enter Password" name="password" ng-model="login.password" ng-required="true">
            </div>
            <div class="d-flex w-75 justify-content-between" >
                <button type="button" class="bg-white text-dark w-25 h-40p rounded fw-bold {{ (loginForm.email.$invalid || loginForm.password.$invalid)?'btn-disabled':'' }}" ng-click="loginHandler(login.email,login.password,login.userRole)">Login</button>
                <div class="w-65 d-flex justify-content-evenly align-items-start">
                    <label>Select Your Role</label>
                    <select value="User" ng-model="login.userRole">
                        <option selected value="User">User</option>
                        <option value="Admin">Admin</option>
                        <option value="Outlet">Outlet</option>
                    </select>
                </div>
            </div>
        </form>
        <form class="w-75 d-flex justify-content-evenly align-items-center flex-column h-75" ng-show="onActivePath('signup')" name="signupForm" novalidate>
            <div class="w-75 d-flex justify-content-evenly align-items-start flex-column">
                <label>Name</label>
                <input class="outline-none bg-theme-light border-0 w-100 h-50p p-2 rounded" type="text" placeholder="Enter Name" name="name" ng-model="signup.name" ng-required="true">
            </div>
            <div class="w-75 d-flex justify-content-evenly align-items-start flex-column">
                <label>Email Address</label>
                <input class="outline-none bg-theme-light border-0 w-100 h-50p p-2 rounded" type="email" placeholder="Enter Email" name="email" ng-model="signup.email" ng-required="true">
            </div>
            <div class="w-75 d-flex justify-content-evenly align-items-start flex-column">
                <label>Password</label>
                <input class="outline-none bg-theme-light border-0 w-100 h-50p p-2 rounded" type="password" placeholder="Enter Password" name="password" ng-model="signup.password" ng-required="true">
            </div>
            <div class="d-flex w-75 justify-content-between" >
                <button type="button" class="bg-white text-dark w-25 h-40p rounded fw-bold" ng-click="signupHandler(signup.name,signup.email,signup.password)">Sign Up</button>
            </div>
        </form>
    </div>
</div>