<div class="w-100 d-flex justify-content-center align-items-center flex-column bg-light">
    <uib-tabset class="w-100 h-50 category" active="activeCategory" justified="true">
        <uib-tab ng-repeat="(itemId,categoryItem) in orderedFoodItems" heading="{{categoryItem.name}}"
            classes="{{getActiveClass($index,'category')}}"
            select="setActiveClass($index,'category')">
            <uib-tabset active="activeSubcategory" justified="true">
                <uib-tab ng-repeat="(subcategoryId,subCategoryItem) in categoryItem.subCategories"
                    heading="{{subCategoryItem.name}}"
                    classes="{{getActiveClass($index)}}" select="setActiveClass($index)">
                    <ul class="w-100 d-flex justify-content-around align-items-center">
                        <li class="text-dark text-light border-0 list-group-item">Name</li>
                        <li class="text-dark text-light border-0 list-group-item">Price</li>
                        <li class="text-dark text-light border-0 list-group-item">Quantity</li>
                    </ul>
                    <ul>
                        <li ng-repeat="food in subCategoryItem.subCategoryItems"
                            class="d-flex justify-content-around align-items-center list-group-item text-dark" ng-init="foodQuantity=food.quantity;">

                            <div class="text-dark">{{food.foodName}}</div>
                            <div class="text-dark">${{food.foodPrice}}</div>
                            <!-- displayable item -->
                            <div ng-hide="isEditClicked" class="text-dark">{{food.quantity}}</div>

                            <!-- editable item  -->
                            <input ng-show="isEditClicked" type="number" class="text-dark" min="{{foodQuantity}}" ng-model="food.quantity" style="width: 40px;">
                        </li>
                    </ul>
                </uib-tab>
            </uib-tabset>
        </uib-tab>
    </uib-tabset>
    <!-- customer details -->
    <div class="w-100 h-50 d-flex justify-content-around align-items-start text-dark text-dark flex-column">
        <h4 class="w-100 d-flex justify-content-center align-items-center">
            Customer Details
        </h4>
        <div class="d-flex justify-content-around align-items-start text-dark">
            <div class="text-dark ml-3">Name :</div>
            <div class="text-dark ml-3">{{selectedOrder.customer.customer.name}}</div>
        </div>
        <div class="d-flex justify-content-around align-items-start text-dark">
            <div class="text-dark ml-3">Phone Number :</div>
            <div class="text-dark ml-3">{{selectedOrder.customer.customer.phoneNumber}}</div>
        </div>
        <div class="d-flex justify-content-around align-items-start text-dark">
            <div class="text-dark ml-3">Paid Via :</div>
            <div class="text-dark ml-3">{{selectedOrder.customer.paidVia}}</div>
        </div>
        <div class="d-flex justify-content-around align-items-start text-dark">
            <div class="text-dark ml-3">Brand :</div>
            <div class="text-dark ml-3">{{selectedOrder.brand.name}}</div>
        </div>
        <div class="d-flex justify-content-around align-items-start text-dark">
            <div class="text-dark ml-3">Outlet :</div>
            <div class="text-dark ml-3">{{selectedOrder.outlet.name}}</div>
        </div>
        <div ng-hide="isEditClicked || selectedOrder.orderType === 'Take Away'" class="d-flex justify-content-around align-items-start flex-column text-dark">
            Assigned Table - Table - {{selectedOrder.assignedTable}}
        </div>
        <div ng-show="selectedOrder.orderType === 'Dine In' && isEditClicked" class="w-100 d-flex justify-content-around align-items-start flex-column">
            <label class="text-dark w-50">Select Table</label>
            <select class="text-dark p-2 outline-none bg-light h-40p text-dark w-100" ng-required="true" ng-model="selectedOrder.assignedTable" name="tableToAssign">
                <option class="text-dark" value="None">None</option>
                <option ng-repeat="table in tables" class="text-dark" value="{{table.tableId}}">table - {{table.tableId}}</option>
            </select>
        </div>
        <div class="w-75" ng-include="'views/taxes/taxBreakdown.html'" ng-init="items = selectedOrder.orderedItems">
        </div>
        <div ng-show="permissionAuthorizations.userRole === 'outlet' && selectedOrder.orderType === 'Dine In'" class="d-flex justify-content-center w-100 align-items-start text-dark">
            <button ng-hide="isEditClicked" class="btn btn-primary" ng-click="makeOrderEditable()">Edit Order</button>
            <button ng-show="isEditClicked" class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
            <button ng-show="isEditClicked" class="btn btn-primary" ng-click="updateOrder(selectedOrder._id,orderedFoodItems,selectedOrder.assignedTable)">Update</button>
        </div>
    </div>
</div>