<section class="w-100 d-flex justify-content-around align-items-center flex-column" style="height:{{ getHeight(3)}}px;">
    <h1 class="w-100 d-flex justify-content-center flex-wrap align-items-center">Orders</h1>
    <div class="w-100 d-flex justify-content-between align-items-start p-3 flex-column h-90">
        <div class="d-flex w-25 justify-content-around align-items-center">
            <label class="text-white w-50 d-flex justify-content-center align-items-center">Order Status:</label>
            <select class="w-50 text-light bg-theme-light h-40p outline-none border-white" ng-model="currentOrderStatus" ng-change="getOrders(currentOrderStatus,currentOrderType,1,9)">
                <option class="text-light bg-theme-light" ng-repeat="status in orderStatuses" value="{{status}}">{{status}}</option>
            </select>
        </div>
        <div class="h-90 w-100 border-0">
            <uib-tabset class="w-100 category" active="activeCategory" justified="true" classes="w-50">
                <uib-tab heading="Dine In" classes="fw-bold border-1 border-dark {{getActiveClass($index,'category')}}" select="getOrders(currentOrderStatus,'Dine In',1,9)">
                    <div ng-include="'views/orders/ordersList.html'" ng-init="getAllOutletOrders" class="mt-2 w-100">

                    </div>
                    <ul ng-show="totalOrders" class="w-100" items-per-page="9" uib-pagination max-size="5" items-per-page="9" total-items="totalOrders" ng-model="dineIn.currentPage" ng-change="getOrders(currentOrderStatus,'Dine In',dineIn.currentPage,9)"></ul>
                </uib-tab>
                <uib-tab heading="Take Away" classes="fw-bold border-1 border-dark {{getActiveClass($index,'category')}}" select="getOrders(currentOrderStatus,'Take Away',1,9)">
                    <div ng-include="'views/orders/ordersList.html'" ng-init="getAllOutletOrders" class="mt-2 w-100">

                    </div>
                    <ul ng-show="totalOrders" class="w-100" uib-pagination max-size="5" items-per-page="9" total-items="totalOrders" items-per-page="9" ng-model="takeAway.currentPage" ng-change="getOrders(currentOrderStatus,'Take Away',takeAway.currentPage,9)"></ul>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</section>