<div class="d-flex justify-content-around align-items-start flex-wrap w-100 h-600p bg-theme-dark"
    ng-init="getFoodItems(availableCategories[0].category,availableCategories[0].subCategories[0],0,'category')">
    <uib-tabset class="w-100 category" active="activeCategory" justified="true">
        <uib-tab ng-repeat="categoryItems in availableCategories" heading="{{categoryItems.category}}"
            ng-click="getFoodItems(categoryItems.category,categoryItems.subCategories[0],$index,'category')"
            classes="fw-bold {{getActiveClass($index,'category')}}"
            ng-init="grandParentIndex = $index">
            <uib-tabset active="activeSubcategory" justified="true">
                <uib-tab ng-repeat="subCategoryItem in categoryItems.subCategories" heading="{{subCategoryItem}}"
                    ng-click="getFoodItems(categoryItems.category,subCategoryItem,$index)"
                    classes="fw-bold {{getActiveClass($index)}}" ng-init="parentIndex=$index">
                    <!-- <ul c -->
                    <table ng-table="foodItemsToDisplay" class="table table-striped w-100 food-items mb-2">

                        <tr ng-show="foodItemsToDisplay.length" ng-repeat="food in foodItemsToDisplay">

                            <td class="text-center" data-title="'Image'">
                                <img ng-src="{{food.imageUrl}}" alt="{{food.name}}" class="w-50p h-50p">
                            </td>

                            <td class="text-center" data-title="'Name'">
                                <div ng-hide="editClicked && itemToEdit === $index">{{food.name}}
                                </div>
                                <!-- editing food name  -->
                                <input class="text-dark" ng-show="editClicked && itemToEdit === $index" name="name"
                                    type="text" ng-model="food.name" ng-required="true">
                            </td>

                            <td class="text-center" data-title="'Price'">
                                <div ng-hide="editClicked && itemToEdit === $index" >{{food.price}}
                                </div>
                                <!-- editing food price  -->
                                <input class="text-dark" ng-show="editClicked && itemToEdit === $index" name="price"
                                    type="number" ng-model="food.price" ng-required="true">
                            </td>

                            <td class="w-50 dark-theme d-flex justify-content-around align-items-center" data-title="'Actions'">
                                <a class="btn btn-primary" ng-show="!presentInCart(food._id) && getRole() === 'outlet'"
                                    ng-click="addToCart(food.name, food.price,food.subCategory,food.category,food.taxes,food._id)">Add
                                    To Cart</a>
                                <!-- inc/dec button  -->
                                <div class="input-group w-10"
                                    ng-show="presentInCart(food._id) && getRole() === 'outlet'">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-primary btn-number"
                                            data-type="plus" data-field="" ng-click="removeFromCart(food._id)">
                                            <i class="fas fa-minus text-light bg-primary"></i>
                                        </button>
                                    </span>
                                    <input type="text" value="{{presentInCart(food._id).quantity}}" name="quantity"
                                        class="form-control input-number" min="1" max="100" readonly>
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-primary btn-number"
                                            data-type="minus" data-field=""
                                            ng-click="addToCart(food.name,food.price,food.subCategory,food.category,food.taxes,food._id)">
                                            <i class="fas fa-plus text-light bg-primary"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- edit/delete actions for brand  -->
                                <div ng-show="getRole() === 'brand' || isAuthorized(1,['outlet'])">
                                    <!-- edit -->
                                    <button ng-hide="editClicked && itemToEdit === $index" class="btn btn-primary"
                                        ng-click="setItemsForEditing($index)">
                                        <i class="fas fa-edit ml-2" style="font-size:18px;"></i>
                                        Edit
                                    </button>
                                    <!-- cancel edit -->
                                    <button ng-show="editClicked && itemToEdit === $index" class="btn btn-primary"
                                        ng-click="unsetItemsForEditing()">
                                        Cancel
                                    </button>
                                    <!-- update -->
                                    <button ng-show="editClicked && itemToEdit === $index" class="btn btn-primary"
                                        ng-click="editFoodItem(food)">
                                        Update
                                    </button>
                                    <!-- delete -->
                                    <button class="btn btn-primary"
                                        ng-click="deleteFoodItem(food,parentIndex,grandParentIndex,$index)">
                                        <i class="fas fa-trash" style="font-size:18px;"></i>
                                        Delete
                                    </button>
                                </div>
                            </td>

                        </tr>

                        <tr ng-hide="foodItemsToDisplay.length">
                            <td>No Food Items added yet</td>
                        </tr>
                    </table>
                    <ul ng-show="totalFoodItems" class="w-100" uib-pagination max-size="5" items-per-page="9"
                        total-items="totalFoodItems" items-per-page="9" ng-model="foodPagination[$index]"
                        ng-change="getFoodItems(categoryItems.category,subCategoryItem,$index)"></ul>
                </uib-tab>
            </uib-tabset>
        </uib-tab>
    </uib-tabset>
</div>